
{% block content %}
    <h1>{% block title %} Add a New Message {% endblock %}</h1>
    <form method="post">
        <label for="gehalt">Gehalt in Euro pro Monat</label>
        <br>
        <input type="text" name="gehalt"
               placeholder="Gehalt"
               ></input>
        <br>

        <label for="steuersatz">Steuersatz in Prozent</label>
        <br>
        <input name="steuersatz" placeholder="Steuersatz"></input>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}