<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Steuercalculator</title>
    <link rel="stylesheet" href="../static/style.css" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
  </head>
  <body>
    <section id="Rechner">
      <form action="#" method="post">
        <div class="container chead">
          <h1>Steuerrechner V1.0</h1>
          <!-- <p>Steuerrechner by Team OZ</p>
                <p>Tragen sie im ersten Feld ihr Brutto Gehalt ein</p>
                <p>Tragen sie danach ihre Steuerklasse in das zweite Feld ein (1-5)</p>
                <p>Anschließend wählen sie aus ob sie die Kirchensteuer mit einberechnen wollen</p> -->
        </div>
        <div class="container cform">
          <label for="IB_Brutto">Brutto Gehalt: </label>
          <input
            type="number"
            name="IB_Brutto"
            placeholder="Brutto Gehalt eingeben (bsp. 3200)"
            value="{{gehalt_input}}"
            required
          />

          <label for="IB_Steuerklasse">Steuerklasse:</label>
          <input
            type="number"
            name="IB_Steuerklasse"
            placeholder="Steuerklasse eingeben (bsp. 1)"
            value="{{steuerklasse_input}}"
            required
          />
          {% if kirche == 0 %}
          <input
            type="checkbox"
            name="CB_Kirche"
            id="CB_Kirche"
            value="1"
            
          />
          {% else %}
          <input
            type="checkbox"
            name="CB_Kirche"
            id="CB_Kirche"
            value="1"
            checked
            
          />
          {% endif%}
          <label for="CB_Kirche">Kirchensteuer?</label><br />

          <button type="submit" name="BTN_Ermitteln">
            <span>Ermitteln</span>
          </button>
        </div>
      </form>
    </section>

    <br />
    {{error}}

    {% if error == 0 %}
      {% if tax != 0 %}
    <section id="Result">
      <div class="container cresult">
        <h2>Ihr Netto Gehalt beträgt: {{tax}}€</h2>
        <p class="Netto"></p>
      </div>
    </section>
      {% endif %}
    
    {% elif error == 1 %}
    <section id="Result">
      <div class="container cresult">
        <h2 id="error">Geben Sie eine Korrekte Lohnsteuerklasse ein</h2>
        <p class="Netto"></p>
      </div>
    </section>
    {% endif %}
  </body>
</html>
